.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  margin-top: 10px;
  padding: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-footer .content {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
}

.App-footer .content div {
  cursor: pointer;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader-indicator {
  padding: 0;
  position: absolute;
  z-index: 1000;
  left: calc(50% - 50px);;
  top: 33%;
}

.loader-show {
  display: block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* RT overrides*/
.ReactTable .rt-thead {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightblue;
}

.rt-thead {
  background-color: lightblue;
  padding: 10px;
  margin: 0;
}

.ReactTable {
  background-color: lightblue;
  color: black;
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.rt-thead:first-child {
  background-color: transparent;
  color: white;
}

.rt-tr {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  padding: 5px;
  margin-bottom: 1px;
}


.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  cursor: pointer;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  overflow: visible;
}

.-loading {
  display: none;
}

.pagination-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.-pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #282c34;
}

.-previous, .-next {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  font-size: medium;
  border-radius: 5px;
}


.-center {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.-pageInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.-pageInfo div, .-pageInfo input, .select-wrap {
  margin: 5px;
  padding: 5px;
}

.select-wrap * {
  font-size: medium;
}
/* end RT overrides*/




main {
  padding: 10px;
}

h1 {
  font-size: xx-large;
  color: grey;
}

h2 {
  font-size: x-large;
  color: grey;
}

h3 {
  font-size: large;
  font-weight: bold;
  color: grey;
}

label {
  color: white;
  margin-top: 5px;
}

input[type=checkbox] {
  margin-top: 7px;
  margin-left: 4px;
}

input {
  border-radius: 5px;
  font-size: medium;
  padding: 5px;
  margin-right: 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.pets {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 0;
  overflow-y: scroll;
}

.pet-item {
  background-color: lightcyan;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.riskContainer {
  color: white;
  display: flex;
  flex-direction: row;
}

.riskIndicator {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 2px;
}

.riskHigh {
  background-color: lightcoral;
}

.pet-item-content {
  pointer-events: none;
  margin: 5px;
}

.pet-detail {
  width: 50%;
  min-height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.pet-detail h2 {
  font-size: larger;
}

.pet-detail p {
  margin: 5px;
  font-size: medium;
  padding: 0;
}

.pet-detail img {
  margin: 10px;
  width: 50%;
  height: 50%;
  right: 0;
  background-color: lightgray;
  border-radius: 5px;
  align-self: center;
}

.back {
  color: grey;
  text-decoration: none;
}

.no-pets {
  color: white;
}
